{% extends "base.html" %}
{% block content %}
<!--Explain 500 error-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <!--500 card panel- component from materialize.css library which has been modified for the site needs-->
        <div class="card-panel grey darken-3">
            <div class="center-align">
                <h1>Internal Server Error</h1>
                <h2>Sorry, we're unable to fulfil your request. Rest assured we have been notified and are looking in to the issue.</h2>
                <a class="btn-large grey darken-3" href="/">Back Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}