{% extends "base.html" %}
{% block content %}

<h3 class="center-align"><span>Add Scouting Region</span></h3>

<div class="row card-panel grey darken-2">
    <form class="col s12" method="POST" action="">
        <!-- region name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-earth-americas prefix"></i>
                <input id="region" name="region_name" minlength="3" maxlength="25"
                    type="text" class="validate" required>
                <label class="white-text" for="region">Region Name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large grey darken-3">
                    Add Region <i class="fa-solid fa-circle-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}