<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Wescout</title>
</head>
<body>
    <header>
        <!--Nav bar-->
        <nav class="grey darken-3">
            <div class="nav-wrapper">
              <a href="{{ url_for('home') }}" class="brand-logo"><i class="fa-solid fa-clipboard-user hide-on-small-and-down"></i>Wescout</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="">Home</a></li>
                <li><a href="">Add Player</a></li>
                <li><a href="">Regions</a></li>
              </ul>
            </div>
          </nav>
          <!--Hamburger navbar for small screens-->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">Add Player</a></li>
            <li><a href="">Regions</a></li>
          </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    
    <footer class="page-footer grey darken-3 center-align">
      <div class="container">
        <div class="row">
          <div>
            <h5 class="white-text">Digitize your player management</h5>
            <p class="grey-text text-lighten-4">
              Capture all your player data on our secure database. For professional scouting & individual player management.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Copyright©2022 | Jack Dilger | All rights reserved
        </div>
      </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>