{% extends "base.html" %}
{% block content %}
<!--page title-->
<h1 class="center-align"><span>Edit Player</span></h1>
<!--edit player form-->
<div class="row card-panel grey darken-2">
    <form class="col s12" method="POST" action="{{ url_for('edit_player', player_id=player._id) }}">
        <div class="row"  id="choose-region-row-edit">
            <div class="input-field col s12">
                <i class="fa-solid fa-earth-americas prefix"></i>
                <label class="white-text" for="region_name">
                    Choose Region
                    <br>
                <select id="region_name" name="region_id" class="validate white-text" required>
                    {% for region in regions %}
                    {% if player.id == player.region_id | int %}
                    <option value="{{ region.id }}" selected>{{ region.region_name }}</option>
                    {% else %}
                    <option value="{{ region.id }}">{{ region.region_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-circle-user prefix"></i>
                <input id="player_name" name="player_name" minlength="5" maxlength="50" value="{{ player.player_name }}" type="text" class="validate white-text" required>
                <label class="white-text" for="player_name">Player Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-pencil prefix"></i>
                <input id="player_age" name="player_age" minlength="2" maxlength="50" value="{{ player.player_age }}" type="text" class="validate white-text" required>
                <label class="white-text" for="player_age">Player Age</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-shoe-prints prefix"></i>
                <input id="preferred_foot" name="preferred_foot" minlength="3" maxlength="50" value="{{ player.preferred_foot }}" type="text" class="validate white-text" required>
                <label class="white-text" for="preferred_foot">Preffered Foot</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-globe prefix"></i>
                <input id="national_team" name="national_team" minlength="3" maxlength="50" value="{{ player.national_team }}" type="text" class="validate white-text" required>
                <label class="white-text" for="national_team">National Team</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-location-dot prefix"></i>
                <input id="domestic_club" name="domestic_club" minlength="3" maxlength="50" value="{{ player.domestic_club }}" type="text" class="validate white-text" required>
                <label class="white-text" for="domestic_club">Domestic Club</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-sterling-sign prefix"></i>
                <input id="market_value" name="market_value" minlength="3" maxlength="50" value="{{ player.market_value }}" type="text" class="validate white-text" required>
                <label class="white-text" for="market_value">Market Value</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-comment prefix"></i>
                <textarea id="player_notes" name="player_notes" minlength="5" maxlength="1000" class="materialize-textarea validate white-text" required>
                {{- player.player_notes -}}
                </textarea>
                <label class="white-text" for="player_notes">Player Notes</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-star prefix"></i>
                <label class="white-text" for="player_rating">
                    Player Rating
                    <br>
                <select id="player_rating" name="player_rating" class="validate white-text" required>
                    <option value="{{ player.player_rating }}" disabled selected>{{ player.player_rating }}</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Star</option>
                    <option value="3">3 Star</option>
                    <option value="4">4 Star</option>
                    <option value="5">5 Star</option>
                </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large grey darken-3" id="edit-player-btn">
                    Edit Player <i class="fa-solid fa-circle-plus right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}