{% extends "base.html" %}
{% block content %}
<!--page title-->
<h1 class="center-align"><span>Edit Scouting Region</span></h1>
<!--edit region card panel- component from materialize.css library which has been modified for the site needs-->
<div class="row card-panel grey darken-2">
    <!--edit region form- component from materialize.css library which has been modified for the site needs-->
    <form class="col s12" method="POST" action="{{ url_for('edit_region', region_id=region.id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-earth-americas prefix"></i>
                <input id="region" name="region_name" minlength="3" maxlength="25" type="text" value="{{ region.region_name }}" class="validate white-text" required>
                <label class="white-text" for="region">Region Name</label>
            </div>
        </div>
        <!-- edit region button- component from materialize.css library which has been modified for the site needs -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large grey darken-3">
                    Edit Region <i class="fa-solid fa-circle-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}