{% extends "base.html" %}
{% block content %}
<!--page title-->
<h1 class="center-align"><span>Log In</span></h1>
<div class="row">
    <!--login form- component from materialize.css library which has been modified for the site needs-->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <!-- login card panel- component from materialize.css library which has been modified for the site needs-->
        <div class="card-panel grey darken-2">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-tag prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate white-text" required>
                    <label for="username" class="white-text">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate white-text" required>
                    <label for="password" class="white-text">Password</label>
                </div>
            </div>
            <!-- login button- component from materialize.css library which has been modified for the site needs -->
            <div class="row">
                <button id="login-btn" type="submit" class="col s12 btn  grey darken-3">
                    Log In
                </button>
            </div>
            <!-- register link -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        New Here?
                        <a href="{{ url_for('register') }}" id="register-link">Register Account</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}