{% extends "base.html" %}
{% block content %}

    <ul class="collapsible popout">
        {% for player in players %}
        <li>
            <div class="collapsible-header grey darken-2">

                <div class="col-md-3">
                    <i class="fa-solid fa-circle-down"></i>
                    <a href="{{ url_for('edit_player', player_id=player._id) }}" class="btn-small green accent-4">Edit</a>
                    <a href="" class="btn-small red">Delete</a>
                    
                </div>

                <div class="col-md-9">
                    <strong>{{ player.player_name }}</strong> : {{ player.domestic_club }} 
                </div>  

            </div>
        
            <div class="collapsible-body grey darken-3">
                <strong>Rating: {{ player.player_rating }}</strong>
                <p>Age: {{ player.player_age }}</p>
                <p>Preferred Foot: {{ player.preferred_foot }}</p>
                <p>National Team: {{ player.national_team }}</p>
                <p>Market Value: {{ player.market_value }}</p>
                <p>Player Notes: {{ player.player_notes }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}