{% extends "base.html" %}
{% block content %}

    <ul class="collapsible popout">
        {% for player in players %}
        <li>
            <div class="collapsible-header grey darken-2">

                <div class="col-md-3">
                    <i class="fa-solid fa-circle-down"></i>
                    <a href="{{ url_for('edit_player', player_id=player._id) }}" class="btn-small green accent-4">Edit</a>
                    <a href="#modal-{{ player.id }}" class="btn-small red modal-trigger">Delete</a>

                    <div id="modal-{{ player.id }}" class="modal grey darken-3">
                        <div class="modal-content center-align">
                            <p class="white-text">Are you sure?</p>
                            <p class="white-text">Deleting a player cannot be undone.</p>
                        </div>
                        <div class="modal-footer grey darken-3 center-align">
                            <a href="{{ url_for('delete_player', player_id=player._id) }}" id="confirm-delete-modal-btn" class="btn red">Confirm</a>
                            <a href="{{ url_for('get_players') }}" id="close-modal-btn" class="modal-close btn green accent -4">Cancel</a>
                        </div>
                    </div>
    

                    
                </div>

                <div class="col-md-9">
                    <strong>{{ player.player_name }}</strong> : {{ player.domestic_club }} 
                </div>  

            </div>
        
            <div class="collapsible-body grey darken-3">
                <strong>Star Rating: {{ player.player_rating }}</strong>
                <p>Age: {{ player.player_age }}</p>
                <p>Preferred Foot: {{ player.preferred_foot }}</p>
                <p>National Team: {{ player.national_team }}</p>
                <p>Market Value £: {{ player.market_value }}</p>
                <p>Player Notes: {{ player.player_notes }}</p>
                <p><em>Created By: {{ player.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}