{% extends "base.html" %}
{% block content %}


<div class="row card-panel grey darken-2">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate white-text" required>
                <label class="white-text" for="query">Search Players</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_players') }}" class="red btn">Reset</a>
                <button type="submit" class="grey darken-3 btn">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_player_btn') }}" id="add-player-btn"class="btn-large grey darken-3">
            Add Player <i class="fa-solid fa-circle-plus"></i>
        </a>
    </div>
</div>




    <ul class="collapsible popout">
        {% for player in players %}
        <li>
            <div class="collapsible-header grey darken-2">

                <div class="col-md-3">
                    <i class="fa-solid fa-circle-down"></i>
                    {% if session.user|lower == player.created_by|lower %}
                    <a href="{{ url_for('edit_player', player_id=player._id) }}" class="btn-small green accent-4">Edit</a>
                    <a href="#modal-{{ player.id }}" class="btn-small red modal-trigger">Delete</a>

                    <div id="modal-{{ player.id }}" class="modal grey darken-3">
                        <div class="modal-content center-align">
                            <p class="white-text">Are you sure?</p>
                            <p class="white-text">Deleting a player cannot be undone.</p>
                        </div>
                        <div class="modal-footer grey darken-3 center-align">
                            <a href="{{ url_for('delete_player', player_id=player._id) }}" id="confirm-delete-modal-btn" class="btn red">Confirm</a>
                            <a href="{{ url_for('get_players') }}" id="close-modal-btn" class="modal-close btn green accent -4">Cancel</a>
                        </div>
                    </div>
    
                    {% endif %}
                   
                </div>



                <div class="col-md-9">
                    <strong>{{ player.player_name }}</strong> : {{ player.domestic_club }} 
                </div>  




            </div>
        
            <div class="collapsible-body grey darken-3">
                <strong>Star Rating: {{ player.player_rating }}</strong>
                <p>Age: {{ player.player_age }}</p>
                <p>Preferred Foot: {{ player.preferred_foot }}</p>
                <p>National Team: {{ player.national_team }}</p>
                <p>Market Value £: {{ player.market_value }}</p>
                <p>Player Notes: {{ player.player_notes }}</p>
                <p><em>Created By: {{ player.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}