{% extends "base.html" %}
{% block content %}

<h3 class="center-align"><span>Scouting Region</span></h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_region') }}" class="btn-large grey darken-3">
            Add Region <i class="fa-solid fa-circle-plus"></i>
        </a>
    </div>
</div>


<div class="row">
    {% for region in regions %}
    <div class="col s12 m6 l3">
        <div class="card grey darken-2 center-align">
            <div class="card-content">
                <span class="card-title">{{ region.region_name }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_region', region_id=region.id) }}" class="btn green accent-4">Edit</a>
                <a href="{{ url_for('delete_region', region_id=region.id) }}" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
            
{% endblock %}