@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../images/wescout-background-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  main {
    flex: 1 0 auto;
  }

  nav .brand-logo {
      margin-left: 10px;
      font-family: 'Fredoka One', cursive;
  }

  i{
    font-size: 35px;
    color: #3FE10E;
  }

  .fa-clipboard-user{
    font-size: 35px;
  } 

  h3 {
    text-shadow: 1px 1px 10px #000;
    font-family: 'Fredoka One', cursive;
  }

  h3 span {
    background-color:  #50616161;
  }



  #delete-region-btn:hover {
    border: 2px solid white;
  }

  #edit-region-btn:hover {
    border: 2px solid white;
  }

  #confirm-delete-modal-btn:hover {
    border: 2px solid white;
  }

  #close-modal-btn:hover {
    border: 2px solid white;
  }

  .modal .modal-footer {
    text-align: center;
  }


  a.nav-link:hover {
    color: white;
    text-decoration: underline;
  }

  a.brand-logo:hover {
    color: white;
    text-decoration: underline;
  }


  .dropdown-content li>a, .dropdown-content li>span {
    color: #3FE10E;
  }

  .select-wrapper input.select-dropdown {
    color: white;
    }

  .sidenav li>a {
    color: white;
  }

  .sidenav li>a:hover {
    text-decoration: underline;
  }

  .sidenav {
    background-color: #757575;
  }

  .btn-small:hover {
    border: 2px solid white;
  }

  .btn-small {
    margin: 5px;
}

.collapsible-header {
    margin: 5px;
    line-height: 42px;
}

#add-player-btn{
  margin-top: 15px;
}


